parameters:
    level: 6
    ignoreErrors:
        - identifier: missingType.generics
        - '#no value type specified in iterable type array#'
        - '#ModelInterface#'
    paths:
        - bin/
        - config/
        - public/
        - src/

